<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel="stylesheet" href="/stylesheets/style.css" />
  </head>
  <body>
    <% if (user) {%>
    <h1>WELCOME <%= user.fullName %></h1>
    <a href="/log-out">Log out</a>
    <a href="/sign-off">Sign off</a>
    <% } else { %>
    <p>Welcome to <%= title %></p>
    <a href="/sign-up">Sign up</a>
    <a href="/sign-in">Sign in</a>
    <%}%>
  </body>
</html>
