<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Sign In</title>
   <link rel="stylesheet" href="/stylesheets/style.css" />
  </head>
  <body>
        <header>
      <a href="/">
        <h1>The Club</h1>
      </a>
      <div class="nav">
        <% if (user) { %>
        <h1>WELCOME <%= user.fullName %></h1>
        <a href="/log-out">Log out</a>
        <a href="/sign-off">Sign off</a>
        <% } %> <% if (user && user.isMembership) { %>
        <a href="/messages/create">Create new message</a>
        <% } %> <% if (user && !user.isMembership) { %>
        <a href="/join">Join the club</a>
        <% } %> <% if (user && !user.isAdmin) { %>
        <a href="/admin">Become an admin</a>
        <% } %> <% if (!user) { %>
        <a href="/sign-up">Sign up</a>
        <a href="/sign-in">Sign in</a>
        <% } %>
      </div>
    </header>
    <h1>Sign In</h1>

    <form action="/sign-in" method="post">
      <label for="email">Email:</label>
      <input type="email" id="email" name="email" required />
      <br />

      <label for="password">Password:</label>
      <input type="password" id="password" name="password" required />
      <br />

      <button type="submit">Sign In</button>
    </form>

    <% if (errors) { errors.forEach(error => { %>
    <p><%= error %></p>
    <% }); } %>
  </body>
</html>
