@import url('https://fonts.googleapis.com/css2?family=Afacad:wght@400;700&display=swap');

:root {
  --color-font-main: rgb(226, 232, 240);
  --color-font-secondary: rgb(158, 164, 175);
  --color-div-background: rgb(30, 41, 59);
  --color-main-theme: rgb(14, 165, 233);
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-family: 'Afacad', sans-serif;
}

body {
  background-color: rgb(11, 17, 33);
  color: var(--color-font-main);
}

a:not(.delete) {
  color: var(--color-font-main);
  text-decoration: none;
  font-size: 1.5rem;
  transition: 0.3s;
  font-weight: 800;
  &:hover {
    color: var(--color-main-theme);
  }
}

header {
  display: flex;
  max-width: 800px;
  margin: 2rem auto;
  justify-content: space-between;
  align-items: end;
  border-bottom: 2px solid var(--color-main-theme);
  & h1 {
    color: var(--color-main-theme);
    line-height: 0.8;
  }
  & .nav {
    display: flex;
    gap: 1rem;
  }
}

.messages {
  display: flex;
  flex-direction: column;
  max-width: 600px;
  margin: 0 auto;
  gap: 1rem;
  & .message {
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
    background-color: var(--color-div-background);
    padding: 1rem;
    border-radius: 1rem;
    text-align: center;
    & .info {
      display: flex;
      justify-content: space-around;
    }
    & > p {
      font-size: 1.3rem;
      color: var(--color-font-secondary);
    }
  }
}

.delete,
button {
  background-color: var(--color-main-theme);
  width: max-content;
  margin: 0.5rem auto;
  padding: 0.2rem 1rem;
  border: none;
  border-radius: 0.7rem;
  color: var(--color-font-main);
  text-decoration: none;
  transition: 0.3s;
  font-size: 1.3rem;
  font-weight: 800;
  transition: 0.3s;
  &:hover {
    filter: brightness(1.2);
  }
}

form {
  margin: 3rem auto;
  display: flex;
  flex-direction: column;
  max-width: 500px;
  gap: 1rem;

  & input:-webkit-autofill,
  & input:-webkit-autofill:focus {
    transition: background-color 0s 600000s, color 0s 600000s;
  }

  & .inputBox {
    display: flex;
    justify-content: space-between;
    & label {
      font-size: 1.5rem;
      color: var(--color-font-secondary);
    }
    & input,
    & textarea {
      background-color: var(--color-div-background);
      border: none;
      min-width: 300px;
      transition: 0.3s;
      color: var(--color-font-main);
      padding: 0.5rem 0.6rem;
      border-radius: 0.5rem;
      &:hover {
        background-color: rgb(54, 65, 90);
      }
      &:focus {
        outline: none;
        border: 1px solid var(--color-main-theme);
      }
    }
  }
  & button {
    font-size: 1rem;
    padding: 0.3rem 1.2rem;
    border-radius: 0.3rem;
    cursor: pointer;
  }
}

.userInfo {
  width: max-content;
  margin: 0 auto;
  font-size: 1.3rem;
  & span {
    color: var(--color-main-theme);
    text-transform: uppercase;
    font-size: 1.5rem;
  }
}
